
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-6X92" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-6X92');</script>
    <!-- End Google Tag Manager -->
    <div class="container-fluid">
        <!--open container-->
        <div class="row row-offcanvas row-offcanvas-left">
            <!--open row-->
            <div id="nav-section" class="col-xs-1 column">
                <!--open nav column-->
                <div class="navbar-default">
                    <h1> <img id="dash-logo" src="~/Content/images/Pennvestlogo.png" style="width:100%; padding:4% 15% 4% 15%" /></h1>
                    <button id="toggle-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="sidebar-nav" role="navigation">
                    <ul class="nav">
                        <li id="Projects"><a href="@(Url.Action("Projects", "Home"))"><span class="icon fa fa-home"></span>Projects</a></li>
                        <li id="Dashboard"><a href="@(Url.Action("Dashboard", "Home"))"><img class="icon" style="height: 12px;" src="~/Content/images/Warehouse.png">Dashboard</a></li>
                        <li id="Budget"><a href="@(Url.Action("Budget", "Home"))"><span class="icon fa fa-dollar"></span>Budget</a></li>
                        <li id="Contracts"><a href="@(Url.Action("Contracts", "Home"))"><img class="icon" style="height: 16px;" src="~/Content/images/file-alt.png">Contracts</a></li>
                        @*<li id="Settlement"><a href="@(Url.Action("Settlement", "Home"))"><span class="icon fa fa-tachometer"></span>Settlement</a></li>*@
                        <li id="PaymentEstimates"><a href="@(Url.Action("PaymentEstimates", "Home"))"><img class="icon" style="height: 16px;" src="~/Content/images/file-medical-alt.png">Payment Estimates</a></li>
                        <li id="Inspections"><a href="@(Url.Action("Inspections", "Home"))"><i class="icon fas fa fa-eye"></i>Inspections</a></li>
                        <li id="PaymentRequests"><a href="@(Url.Action("PaymentRequests", "Home"))"><span class="icon fa fa-inbox"></span>Payment Requests</a></li>
                        <li id="Closeout"><a href="@(Url.Action("Closeout", "Home"))"><span class="icon fa fa-sign-out"></span>Closeout</a></li>
                        <li id="Resources"><a href="@(Url.Action("Resources", "Home"))"><i class="icon fas  fa fa-book"></i>Resources</a></li>
                    </ul>
                    <div style="padding-top:70%">
                        <div id="SocialMedia" style="padding:10%">
                            <i class="fa fa-facebook-square SocialMediaIcons"></i>
                            <i class="fa fa-google-plus-square SocialMediaIcons"></i>
                            <i class="fa fa-linkedin-square SocialMediaIcons"></i>
                            <i class="fa fa-twitter-square SocialMediaIcons"></i>
                            <i class="fa fa-youtube-square SocialMediaIcons"></i>
                        </div>
                        <div id="rights">
                            <p style="text-align:center;">
                                &copy;2018, Commonwealth of Pennsylvania.
                                <br />All Rights Reserved.
                                <br /> <span style="text-decoration:underline">Privacy</span>
                                <span style="text-decoration:underline">Security Statement</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!--close left column-->

            <div id="main-section" class="col-xs-12 column">
                <div id="main-section-header" class="row">
                    <div id="dateFilter" class="col-md-12">
                        <a href="#"><i id="bar" class="icon fa fa-bars"></i></a>
                        <div class="period-wrapper">
                            <input type="search" placeholder="&#xf002 Search">
                            &nbsp;&nbsp;
                            <a href="@(Url.Action("NotificationSettings", "Home"))"><i class="fa fa-cog" style="color:#e2d9d9; font-size:16px"></i></a>
                            <i class="icon fa fa-user-circle" style="color:#e2d9d9; font-size:16px">&nbsp;<span style="color:black; font-size:12px">Michael Smilth</span></i>
                        </div>
                        <p class="AdminLbl">Administrator</p>
                    </div>
                    <div id="dateFilter1" style="display:none;">
                        <a href="#"><i id="bar1" class="icon fa fa-bars" style="color:#e2d9d9; font-size:30px; float:left; padding-top: 15px;"></i></a>
                        <div class="period-wrapper">
                            <input type="search" placeholder="&#xf002 Search">
                            &nbsp;&nbsp;
                            <i class="icon fa fa-cog" style="color:#e2d9d9; font-size:16px"></i>
                            <i class="icon fa fa-user-circle" style="color:#e2d9d9; font-size:16px">&nbsp;<span style="color:black; font-size:12px">Michael Smilth</span></i>
                        </div>
                        <p class="AdminLbl">Administrator</p>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <!--open main column-->
                @RenderBody()
            </div><!--close main column-->
            <div id="footer" style="background-color:#024578; display:none;">
                <table style="width:100%; ">
                    <tr>
                        <td style="color:white">
                            &copy;2018, Commonwealth of Pennsylvania, All Rights Reserved.
                            <span style="text-decoration:underline">Privacy</span>
                            <span style="text-decoration:underline">Security Statement</span>
                        </td>
                        <td class="pull-right">
                            <i class="fa fa-facebook-square" style="color:#e2d9d9;  font-size:30px"></i>
                            <i class="fa fa-google-plus-square" style="color:#e2d9d9; font-size:30px"></i>
                            <i class="fa fa-linkedin-square" style="color:#e2d9d9; font-size:30px"></i>
                            <i class="fa fa-twitter-square" style="color:#e2d9d9; font-size:30px"></i>
                            <i class="fa fa-youtube-square" style="color:#e2d9d9; font-size:30px"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div><!--close row-->
    </div><!--close container-->

    <script>
        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $('.row-offcanvas').toggleClass('active');
            });
        });
        $('#bar').click(function () {
            $('#nav-section').hide();
            $('#dateFilter').hide();
            $('#dateFilter1').show();
            $('#footer').show();
        });
        $('#bar1').click(function () {
            $('#nav-section').show();
            $('#dateFilter').show();
            $('#dateFilter1').hide();
            $('#footer').hide();
        });

    </script>
</body>
</html>