@{
    ViewBag.Title = "Pennvest - Contracts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-section-content row" style="">
    <div>
        <div id="employee-details-wrapper">
            <div id="employee-details" class="row">
                <div id="budget-current">
                    <span class="LblBlue">
                        CURRENT PENDING APPROVAL
                    </span>
                </div>
                <div style="overflow-x:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>COST CATEGORY</th>
                                <th>PENNVEST FUNDING</th>
                                <th>OTHER FUNDING</th>
                                <th>TOTAL FUNDING</th>
                                <th>ADJUSTMENTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="CostCategoryLbl" style="text-decoration:underline" id="AdministrativeCosts1">Administrative Costs </td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr id="AdministrativeCosts" style="display:none">
                                <td colspan="12">
                                    @Html.Partial("_ContractInfo")
                                </td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl" style="text-decoration:underline" id="LegalFees1" >Legal Fees</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr id="LegalFees" style="display:none">
                                <td colspan="12">
                                    @Html.Partial("_ContractInfo")
                                </td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl" style="text-decoration:underline" id="AccountingChanges1"> Financing/Accounting Changes</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr id="AccountingChanges" style="display:none">
                                <td colspan="12">
                                    @Html.Partial("_ContractInfo")
                                </td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl" style="text-decoration:underline" id="InterestDuringConstruction1">Interest During Construction</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr id="InterestDuringConstruction" style="display:none">
                                <td colspan="12">
                                    @Html.Partial("_ContractInfo")
                                </td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl" style="text-decoration:underline" id="ArchitectureEngineeringFees1">Architecture Engineering Fees</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr id="ArchitectureEngineeringFees" style="display:none">
                                <td colspan="12">
                                   @Html.Partial("_ContractInfo")
                                </td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl" style="text-decoration:underline" id="Permits1">Permits</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr id="Permits" style="display:none">
                                <td colspan="12">
                                    @Html.Partial("_ContractInfo")
                                </td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl" style="text-decoration:underline" id="Land1">Land</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr id="Land" style="display:none">
                                <td colspan="12">
                                    @Html.Partial("_ContractInfo")
                                </td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl" style="text-decoration:underline" id="Construction1">Construction</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr id="Construction" style="display:none">
                                <td colspan="12">
                                    @Html.Partial("_ContractInfo")
                                </td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl" style="text-decoration:underline" id="Contingency1">Contingency</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr id="Contingency" style="display:none">
                                <td colspan="12">
                                    @Html.Partial("_ContractInfo")
                                </td>
                            </tr>
                            <tr>
                                <td class="CostCategoryLbl" style="text-decoration:underline" id="Other1">Other</td>
                                <td class="FundingLbl">$12,542,329.00</td>
                                <td class="FundingLbl">$77,293.00</td>
                                <td class="FundingLbl">$199,842,329.00</td>
                                <td class="FundingLbl">$1,976.00</td>
                            </tr>
                            <tr id="Other" style="display:none">
                                <td colspan="12">
                                    @Html.Partial("_ContractInfo")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Approve" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:0% !important;">
        <div class="modal-content">

            <div class="modal-headers">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="border-radius:0px !important;">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <table class="col-md-12">
                    <tr>
                        <td class="product-name"> $199,842,329.00</td>
                    </tr>
                    <tr class="spaceUnder">
                        <td>
                            <p class="ContractPopupText">PENNVEST FUNDING</p>
                        </td>
                    </tr>
                    <tr class="col-md-12"style="margin-top:20px"></tr>
                    <tr>
                        <td>
                            <p class="ContractPopupText">Other Funding Source: $0.00</p><br />
                             <p class="ContractPopupText"> Hold Back: $0.00</p><br />
                             <p class="ContractPopupText">Total Disbursement: $564,126.00</p>
                         </td>
                    </tr>
                    <tr class="col-md-12" style="margin-top:20px"></tr>
                    <tr>
                        <td>
                            <p class="ContractPopupText">
                                By completing the action you acknowledge that you have taken every necessary step.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button type="button" class="btnPopup btn btn-primary pull-left" style="border-radius:0px !important;"data-dismiss="modal">CANCLE</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btnPopup btn btn-primary pull-right" style="border-radius:0px !important;" data-dismiss="modal">APPROVE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Contracts.js"></script>




